
.btn-info {
    padding: 4px 4px 0px 4px!important;
}
.border-primary {
    border-color: #00000000 !important;
}
.bg-primary {
    background-color: #0a7a7d !important;
}
.card-header {
    padding: .75rem 0.25rem;
}